# [ EndPoints ] #
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# [ MySQL ] #
exec cfg/mysql.cfg

# [ Core ] #
ensure mapmanager
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure baseevents
ensure oxmysql
ensure mercy-base

# [ Resources ] #
exec cfg/resources.cfg

# [ Settings ] #
exec cfg/settings.cfg

# [ Admins ] #
exec cfg/admins.cfg

# [ Keys ] #
exec cfg/keys.cfg