.phone-app-documents {
    display: none;
    position: absolute;
    top: 0vh;
    left: 0vw;

    width: 100%;
    height: 100%;

    border-radius: 0.8vh;
    background-color: #212832;
}

/* List of Documents Wrapper */

.phone-documents-new {
    position: absolute;
    top: 3.5vh;
    right: .75vw;

    font-size: 2vh;

    z-index: 50;

    color: white;
}

.phone-documents-search {
    position: relative;
    top: 5vh;

    width: 88%;

    margin: 0 auto;
}

.phone-documents-type {
    position: relative;
    top: 7vh;

    width: 88%;

    margin: 0 auto;
}

.phone-documents-type > .ui-input-field {
    width: 100%;
    padding-top: 1vh !important;
    padding-left: 0vh !important;
}

.phone-documents-items {
    position: absolute;
    top: 18vh;
    left: 0;
    right: 0;
    
    width: calc(100% - 2vw);
    height: max-content;
    max-height: 38.5vh;
    
    margin: 0 auto;
    overflow-y: auto;
}

.phone-documents-items::-webkit-scrollbar {
    display: none;
}

.phone-documents-item {
    position: relative;
    border-top-left-radius: 0.5vh;
    border-top-right-radius: 0.5vh;

    padding: 0.6vh;

    margin-bottom: .75vh;

    border-bottom: 0.15vh solid white;

    font-family: 'Roboto';
    font-size: 1.25vh;

    color: white;

    background-color: #31475e;
}

.phone-documents-item-name {
    position: relative;
    width: 10vw !important;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.phone-documents-item-eye {
    position: absolute;
    right: 1vh;
    top: 50%;

    transform: translateY(-50%);
}

/* Inside Wrapper */

.phone-documents-document {
    display: none;
}

.phone-documents-document-title {
    position: relative;
    top: 5vh;

    width: 75%;

    margin: 0 auto;
}

.phone-documents-document-back {
    position: absolute;
    top: 5vh;
    left: 1vh;

    line-height: 5vh;

    color: white;

    font-size: 1.75vh;

    z-index: 50;
}

.phone-documents-document-options {
    position: absolute;
    top: 5vh;
    right: 1vh;

    line-height: 5vh;
    width: 1.125vw;

    text-align: center;
    color: white;

    font-size: 1.75vh;

    z-index: 50;
}

#phone-documents-textarea {
    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;

    margin: 0 auto;

    font-size: 1.5vh;

    width: calc(100% - 2vw);
    height: 46.5vh;

    color: white;
}

#phone-documents-textarea:focus {
    outline: none;
    border: none;
    box-shadow: none;
}