/* Commands */

.menu-page-commands-header-categories {
    float: left;
    position: relative;

    margin-left: 0.2vh;
    width: 99.8%;
    height: 4.25vh;

    background-color: rgb(43, 48, 56);
}

.menu-page-commands-header-category {
    float: left;
    position: relative;

    width: 7vh;
    max-width: 7vh;
    height: 100%;
    transition: all .1s ease-in-out;
}

.menu-page-commands-header-category:hover {
    background-color: rgb(36, 37, 39);
}

.menu-page-commands-header-category.active { 
    background-color: #24282a; 
}

/* Title */

.menu-page-commands-header-category-title {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu-page-commands-header-category-title p {
    font-size: 1.2vh;
    color: var(--color-white);
    font-weight: bolder;
}

/* Search */

.menu-page-commands-search {
    float: left;
    position: relative;

    margin-left: 0.2vh;
    width: 100%;
    height: 5.5vh;

    background-color: rgb(43, 48, 56);
}

.menu-page-commands-search hr {
    margin-top: 0.5vh;
    color: var(--color-white);
}

.menu-page-commands-search input {
    margin-top: .7vh;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    color: var(--color-white);
    border: none;
    outline: none;
    caret-color: var(--color-white);
}

.menu-page-commands-search input::placeholder {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.2vh;
}

.admin-menu-items {
    position: relative;
    
    width: 99%;
    max-height: 72.6vh;
    overflow-y: auto;

    margin-left: 0.4vh;
}

.noscroll { 
    position: fixed; 
    overflow-y:scroll;
}

.admin-menu-items > .menu-main-container {
    max-height: 100vh;
}

.admin-menu-items::-webkit-scrollbar-thumb {
    background-color: var(--color-white);
}

.admin-menu-items::-webkit-scrollbar {
    background-color: transparent;
    width: 0.3vh;
}

.admin-menu-item {
    position: relative;

    width: 100%;
    min-height: 3.25vh;
    max-height: max-content;

    font-size: 1.2vh;

    line-height: 3.25vh;

    cursor: pointer;
    
    border-radius: .2vh;
    margin-bottom: .3vh;

    transition: background-color 250ms, min-height 1s ease-in;
}

.admin-menu-item-favorited {
    float: left;
    margin-left: 2%;
}

.admin-menu-item.enabled {
    background-color: #6f987a !important;
}

.admin-menu-item-favorited.favorited { color: #eeee41; }

.admin-menu-item-name {
    padding-left: 2vw;
    width: 80%;
}

.admin-menu-item-arrow {
    position: absolute;
    width: 2.5vh;
    height: 2.5vh;
    right: 1vh;
    top: 0.25vh;
    background-color: transparent;
}

.admin-menu-item-arrow i {
    position: absolute;

    left: 50%;
    top: 50%;

    font-size: 1.8vh;

    transform: translate(-50%, -50%);
    color: black;
}

.admin-menu-item-arrow.open {
    -webkit-animation: open-dropdown 0.3s ease-in-out;
    animation: open-dropdown 0.3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.admin-menu-item-arrow.closed {
    -webkit-animation: closed-dropdown 0.3s ease-in-out;
    animation: closed-dropdown 0.3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.admin-menu-item:nth-child(odd) { background-color: #cecfd1; }
.admin-menu-item:nth-child(even) { background-color: #99a4ae; }

.admin-menu-item:hover {
    background-color: rgba(138, 138, 138, 0.8);
}

.admin-menu-item-options {
    display: none;
    
    max-height: max-content;
    padding: .5vh;
    margin: 0;
    overflow: hidden;
    background-color: var(--menu-bg-color);

    transition: min-height 1s ease-in-out;
}

.admin-menu-items-option-input {
    position: relative;
}

.admin-menu-items-option-input > .ui-styles-input {
    width: 100%;
}

.admin-menu-items-option-input > .ui-styles-input > .ui-input-field {
    padding-top: 1vh !important;
    padding-left: 0vh !important;
}

.admin-menu-item-options .ui-styles-button {
    line-height: normal !important;
    font-size: 1.2vh !important;
}

