


.menu-page-options-items {
    display: none;
    position: absolute;

    width: 95%;
    height: 100%;

    left: 50%;
    transform: translateX(-50%);
}


.menu-page-options-item {
    position: relative;

    width: 100%;
    height: 3vh;

    margin-top: 1vh;
    border-radius: .25vh;

    border-bottom: solid 2.5px #264d6f;

    background-color: rgb(38, 54, 83);

    transition: all .15s ease;
}

.menu-page-options-item:hover {
    border-bottom: solid 2px rgb(38, 54, 83);
}

.ui-styles-checkbox-input {
    background-color: green;
}

.menu-page-options-item span {
    padding-right: 15vh;
    line-height: 3vh;
    margin-left: 1vh;
    font-size: 1.4vh;
}

.ui-styles-checkbox-input {
    margin-top: .5vh;
    margin-left: .75vh;
}


/* SPINNER */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--color-white);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
}
  
.menu-page-options-spinner {
    display: none;
    position: absolute;
  
    width: fit-content;
    height: fit-content;
  
    margin: 0 auto;
    left: 0;
    right: 0;
  
    top: 50%;
    transform: translateY(-50%);
  
    text-align: center;
}
  
.menu-page-options-spinner > p {
    text-align: center;
    color: var(--color-white);
    font-size: 1.5vh;
    font-weight: bolder;
  }
  
.menu-page-options-spinner > p::after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}
  
@keyframes dots {
    0%, 20% {
      color: rgba(255, 255, 255, 0);
      text-shadow:
      .25em 0 0 rgba(255, 255, 255, 0),
      .5em 0 0 rgba(255, 255, 255, 0);}
    40% {
      color: var(--color-white);
      text-shadow:
      .25em 0 0 rgba(255, 255, 255, 0),
      .5em 0 0 rgba(255, 255, 255, 0);}  
    60% {
      text-shadow:
      .25em 0 0 var(--color-white),
      .5em 0 0 rgba(255, 255, 255, 0);}      
    80%, 100% {
      text-shadow:
      .25em 0 0 var(--color-white),
      .5em 0 0 var(--color-white);}
}     
  
    .bank-disabled {
        pointer-events: none !important;
      
        opacity: 0.5;
      }
      
      