/* Pinned Players */

.menu-pinned-players {
    display: none;
    position: absolute;

    top: 6%;
    left: -23.5vh;


    width: 22.5vh;
    height: 94%;

    background-color: var(--menu-bg-color);

    -moz-box-shadow: 0px 1px 5px 0px #424242;
    -webkit-box-shadow: 0px 1px 5px 0px #424242;
    box-shadow: 0px 1px 5px 0px #424242;
}

.menu-pinned-players-header {
    position: absolute;

    height: 5vh;
    width: 100%;

    top: 0;
    left: 0;

    color: var(--color-white);
    font-size: 1.8vh;
    line-height: 5vh;
    text-align: center;

    border-bottom: .3vh solid #264d6f;
    background-color: rgb(35, 49, 77);
}

/* List */

.menu-pinned-players-list {
    position: absolute;
    
    width: 97%;
    height: max-content;

    max-height: 71vh;
    overflow-y: auto;

    top: 6vh;
    left: 50%;
    transform: translateX(-50%);
}

.menu-pinned-players-list::-webkit-scrollbar-thumb {
    background-color: var(--color-white);
}

.menu-pinned-players-list::-webkit-scrollbar {
    background-color: transparent;
    width: 0.3vh;
}

/* Player */

.menu-pinned-player {
    float: left;
    position: relative;

    width: 100%;
    height: max-content;

    background-color: var(--color-white);
    -moz-box-shadow: 0px 1px 5px 0px #424242;
    -webkit-box-shadow: 0px 1px 5px 0px #424242;
    box-shadow: 0px 1px 5px 0px #424242;
}

/* Header Player */

.menu-pinned-player-header {
    position: relative;

    width: 100%;
    height: 6.45vh;

    left: 0;
    top: 0;

    background-color: rgb(190, 190, 190);

    -moz-box-shadow: 0px 1px 5px 0px #424242;
    -webkit-box-shadow: 0px 1px 5px 0px #424242;
    box-shadow: 0px 1px 5px 0px #424242;
}

.menu-pinned-player-header-name {
    position: relative;

    height: 2.5vh;
    width: 98%;

    left: 50%;
    transform: translateX(-50%);
    top: .5vh;
    user-select: all;

    line-height: 2.5vh;
    font-weight: bolder;
    color: black;
    text-align: center;
    font-size: 1.2vh;
    border-radius: .2vh;
    background-color: rgba(123, 123, 123, 0.75);
}  

.menu-pinned-player-header-steam {
    position: relative;

    height: 2.5vh;
    width: 98%;

    left: 50%;
    transform: translateX(-50%);
    top: 1vh;
    user-select: all;

    line-height: 2.5vh;
    font-weight: bolder;
    color: black;
    text-align: center;
    font-size: 1.2vh;
    border-radius: .2vh;
    background-color: rgba(123, 123, 123, 0.75);
}

/* Description Information */

.menu-pinned-player-information-list {
    position: relative;

    width: 100%;
    height: 8vh;

    bottom: 0;
    left: 0;
}

.menu-pinned-player-information-item {
    float: left;
    position: relative;

    width: 98%;
    height: 2vh;

    left: 50%;
    transform: translateX(-50%);

    margin-top: .5vh;

    line-height: 1.5vh;
    color: var(--color-white);
    text-align: center;
    font-size: 1.2vh;
    border-radius: .4vh;
    background-color: rgb(220, 220, 220);
}

.menu-pinned-player-information-item-title {
    position: absolute;

    width: 35%;
    height: 100%;

    left: 0;
    top: 0;
}

.menu-pinned-player-information-item-title p {
    float: left;
    position: absolute;

    left: 1vh;
    line-height: 0;


    color: black;
    font-size: 1.2vh;
    font-weight: bolder;
}

.menu-pinned-player-information-item-desc {
    position: absolute;

    width: 65%;
    height: 100%;
    user-select: all;

    right: 0;
    top: 0;
}

.menu-pinned-player-information-item-desc p {
    float: right;
    position: absolute;

    right: 1vh;
    line-height: 0;

    color: black;
    font-size: 1.2vh;
    font-weight: bolder;
}