html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    background-color: black;
    overflow: hidden;
}

body.div {
    width: 1024px;
    height: 1024px;
}