@import url('./market.css');
@import url('./mining.css');
@import url('./boosting.css');

.laptop-wrapper {
    width: 100vw;
    height: 100vh;
    user-select: none;
    font-family: 'Lato', sans-serif;
    z-index: 150 !important;
}

.main-laptop-container {
    display: none;
    position: absolute;

    top: 48%;
    left: 50%;
    
    width: 95vw;
    height: 90vh;
    
    border-radius: .4vh;
    background-color: #212730f6;
    transform: translate(-50%, -50%);
    overflow: hidden;

    z-index: 300!important;
}

/* Screen */

.laptop-screen {
    position: absolute;

    top: 48%;
    left: 50%;

    height: 95%;
    width: 99.5%;

    border-radius: .2vh;

    transform: translate(-50%, -50%);

    background-size: cover;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    background-image: url("../../../images/windows.jpg");
}

.laptop-background {
    display: none;
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(134, 134, 134, 0.5);
}

.laptop-apps {
    display: none;
    position: absolute;

    top: 1vh;
    left: .7vw;

    height: 100%;
    width: 20vw;   
}

.laptop-app {
    position: relative;

    margin-bottom: 1vh;

    width: fit-content;
    height: fit-content;

    cursor: pointer;
}

.laptop-app-logo {
    position: relative;

    line-height: 5vh;
    text-align: center;
    font-size: 2.5vh;
    color: white;

    width: 2.8vw;
    height: 5vh;

    border-radius: .2vh;
}

.laptop-app-title {
    position: relative;

    margin-top: .2vh;

    text-align: center;
    font-size: 1.2vh;
    color: white;
}

.app-blue { background-color: rgb(0, 140, 255); transition: background-color 0.2s ease; }
.app-blue:hover { background-color: rgba(0, 140, 255, 0.8); }
.app-cyan { background-color: rgb(39, 158, 128); transition: background-color 0.2s ease; }
.app-cyan:hover { background-color: rgba(39, 158, 128, 0.8); }
.app-dark-blue { background-color: rgb(0, 89, 255); transition: background-color 0.2s ease; }
.app-dark-blue:hover { background-color: rgba(0, 89, 255, 0.8); }

/* App Screen */

.laptop-app-screen {
    display: none;
    position: absolute;

    top: 50%;
    left: 50%;

    height: 78vh;
    width: 85vw;

    transform: translate(-50%, -50%);

    background-color: #18181e;
}

.laptop-app-screen-top {
    position: absolute;

    top: 0;
    left: 0;
    
    width: 100%;
    height: 4%;

    background-color: #22212a;
}

.laptop-screen-title {
    position: absolute;

    top: .6vh;
    left: .5vw;

    font-weight: 550;
    font-size: 1.4vh;
    color: white;
}

.laptop-screen-min {
    position: absolute;

    top: .8vh;
    right: 1.75vw;

    height: 1.5vh;
    width: 1.5vh;

    cursor: pointer;

    border-radius: 50%;
    background-color: rgb(197, 129, 89);
}

.laptop-screen-close {
    position: absolute;

    top: .8vh;
    right: .5vw;

    height: 1.5vh;
    width: 1.5vh;

    cursor: pointer;

    border-radius: 50%;
    background-color: rgb(197, 89, 89);
}

.laptop-app-screen-inside {
    position: absolute;

    left: 0;
    bottom: .65%;

    height: 95%;
    width: 100%;

    overflow: hidden;
}

/* Bottom Bar */

.laptop-bottom-bar {
    position: absolute;

    left: .29vw;
    bottom: 0;

    width: 100%;
    height: 4.5%;
    overflow: hidden;
}

.bottom-button {
    position: relative;

    margin-right: .5vw;

    width: 2.3vw;
    height: 100%;

    line-height: 4vh;
    text-align: center;
    font-size: 1.8vh;
    color: white;

    float: left;
    cursor: pointer;

    transition: 350ms;
    background-color: transparent;
}

.bottom-button:hover {
    color: rgb(60, 126, 212);
    background-color: rgba(255, 255, 255, 0.3);
}

.bottom-info {
    position: absolute;

    top: 0;
    right: .5vw;
}

.bottom-date-time {
    float: right;
    position: relative;

    padding: .3vh;
    top: .2vh;
    right: 1vh;
    width: 4vw;
    text-align: right;
    color: white;
    font-size: 1.2vh;
    font-weight: 550;
    transition: all .1s ease-in-out;
}

.bottom-date-time:hover {
    background-color: rgba(122, 122, 122, 0.2);
    border-radius: .5vh;
}

.bottom-date-time.selected {
    background-color: rgba(122, 122, 122, 0.2);
    border-radius: .5vh;
}


.bottom-wifi {
    float: left;
    position: relative;

    top: 0.2vh;
    right: -1vw;

    padding: .5vw;
    width: fit-content;

    font-size: 1.5vh;
    color: white;
}

.bottom-wifi:hover {
    background-color: rgba(122, 122, 122, 0.2);
    border-radius: .5vh;
}

.bottom-wifi.selected {
    background-color: rgba(122, 122, 122, 0.2);
    border-radius: .5vh;
}

.bottom-settings {
    float: left;
    position: relative;

    top: 0.2vh;
    right: 3vw;

    padding: .5vw;
    width: fit-content;

    font-size: 1.5vh;
    color: white;
}

.bottom-settings:hover {
    background-color: rgba(122, 122, 122, 0.2);
    border-radius: .5vh;
}

.bottom-settings.selected {
    background-color: rgba(122, 122, 122, 0.2);
    border-radius: .5vh;
}

.bottom-settings i {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: all .5s ease-in-out;
}

.bottom-settings.active i {
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transition: all .5s ease-in-out;
}

.laptop-settings-window.active {
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    transition: all .25s ease;
}

/* Scroll */

.laptop-boosting-card-container::-webkit-scrollbar-track {
    background-color: transparent;
}
  
.laptop-boosting-card-container::-webkit-scrollbar {
    width: .3vh;
}
  
.laptop-boosting-card-container::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: .4vh;
}

/* Notifications Center */

.laptop-notifications-center {
    display: none;
    position: absolute;

    bottom: 5vh;
    right: 1.5vh;

    max-height: 70vh;
    height: fit-content;
    min-height: 30vh;
    width: 32vh;

    transform: translateX(105%);
    -webkit-transform: translateX(105%);
    transition: all .25s ease;

    border-radius: .5vh;
    border: rgba(128, 128, 128, 0.4) solid .1vh;
    background-color: rgba(25, 25, 31, 0.7);
    backdrop-filter: blur(10px);

}

.laptop-notifications-center.active {
    transform: translateX(-1%);
    -webkit-transform: translateX(-1%);
    transition: all .25s ease;
}

.laptop-notifications-center-title {
    position: relative;

    left: 1vh;
    top: 1.5vh;
    letter-spacing: 0.05vh;
    font-size: 1.4vh;
    color: white;
}

.laptop-notifications-center-button {
    float: right;
    position: relative;

    right: 1vh;
    top: -0.5vh;
    letter-spacing: 0.05vh;
    font-size: 1.1vh;
    color: white;
    padding: 0.4vh;
    padding-left: 0.75vh;
    padding-right: 0.75vh;

    border-radius: .5vh;
    background-color: rgba(25, 25, 31, 0.9);
    backdrop-filter: blur(10px);

    transition: all .2s ease-in-out;
}

.laptop-notifications-center-button:hover {
    background-color: rgba(43, 43, 53, 0.9);
}

.laptop-notifications-center-list {
    position: relative;

    min-height: 24.5vh;
    height: fit-content;
    max-height: 65vh;
    width: 30.5vh;

    overflow-y: scroll;

    margin-bottom: 2vh;
    top: 0.25vh;
    left: 50%;
    transform: translateX(-50%);

    -webkit-transition: max-height 1s; 
    -moz-transition: max-height 1s; 
    -ms-transition: max-height 1s; 
    -o-transition: max-height 1s; 
    transition: max-height 1s;  
}

.laptop-notifications-center-list::-webkit-scrollbar {
    display: none;
}

.empty-notifications {
    position: absolute;

    width: 100%;
    height: fit-content;

    text-align: center;
    top: 50%;
    transform: translateY(-50%);

    font-size: 1.2vh;
    color: white;
}

/* Settings */

.laptop-settings-window {
    display: none;
    position: absolute;

    bottom: 0;
    right: 3vw;

    height: 30vh;
    width: 13vw;

    border-radius: .5vh;

    transform: translateY(30%);
    -webkit-transform: translateY(30%);
    transition: all .25s ease;

    border: rgba(128, 128, 128, 0.4) solid .1vh;
    background-color: rgba(25, 25, 31, 0.7);
    backdrop-filter: blur(10px);
}

.laptop-settings-window-title {
    position: relative;

    width: 100%;
    height: fit-content;

    padding-top: 1vh;

    text-align: center;

    color: white;
    font-weight: bold;
    font-size: 1.6vh;
}

.laptop-settings-window-input {
    position: relative;

    top: 1vh;
    margin-top: 1vh;
    height: fit-content;
    width: 100%;
}

.laptop-settings-window label {
    position: relative;

    color: white;
    font-weight: bold;
    padding-left: 1vh;
}

.laptop-settings-window input {
    position: relative;

    width: 90%;
    height: 3vh;

    left: 50%;
    transform: translateX(-50%);

    outline: none;
    margin-top: 1vh;

    border-left: rgba(128, 128, 128, 0.4) solid .1vh;
    border-right: rgba(128, 128, 128, 0.4) solid .1vh;
    border-top: rgba(128, 128, 128, 0.4) solid .1vh;
    border-bottom: rgba(0, 162, 255, 0.8) solid .25vh;
    border-radius: .5vh;
    background-color: rgba(25, 25, 31, 0.9);
    backdrop-filter: blur(10px);
    color: rgb(204, 204, 204);
    text-indent: .5vh;

    transition: all .1s ease-in-out;
}

.laptop-settings-window input:focus {
    outline: none;
}

.laptop-settings-window-buttons {
    position: absolute;

    width: 100%;
    height: fit-content;

    bottom: 1vh;
    margin-top: 1vh;
}

.laptop-settings-window-button {
    float: left;
    position: relative;

    width: 90%;
    height: 3vh;
    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 1vh;
    
    border-radius: .5vh;
    background-color: rgba(25, 25, 31, 0.9);
    backdrop-filter: blur(10px);

    transition: all .1s ease-in-out;
}

.laptop-settings-window-button:hover {
    background-color: rgba(43, 43, 53, 0.9);
}


.laptop-settings-window-button p {
    position: relative;

    width: 100%;
    height: 100%;

    line-height: 0;
    text-align: center;

    font-weight: bold;
    color: white;
}

/* Notifications */


.laptop-notify-container {
    position: absolute;

    bottom: 2vh;
    right: 0;

    width: auto;
    height: auto;

    margin-right: .5vh;
    /* width: 30vh;
    height: 50vh; */
    overflow: hidden;
}

.laptop-notify {
    position: relative;

    height: 9vh;
    width: 30vh;

    border-radius: .7vh;
    background-color: rgba(25, 25, 31, 0.7);
    backdrop-filter: blur(10px);
    margin-bottom: 1vh;

    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
}

.laptop-notify.border {
    border: rgba(128, 128, 128, 0.4) solid .1vh;
}

.laptop-notify-icon {
    float: left;
    position: relative;

    line-height: 3vh;
    padding-left: 1.5vh;
    color: white;
    font-size: 1.2vh;
}

.laptop-notify-appname {
    float: left;
    position: relative;

    line-height: 3vh;
    padding-left: 1vh;
    color: white;
    font-size: 1.2vh;
    text-transform: uppercase;
    letter-spacing: .05vh;
}

.laptop-notify-title {
    position: absolute;
    float: left;

    line-height: 9.5vh;
    left: 1.5vh;
    color: white;
    font-size: 1.4vh;
}

.laptop-notify-text {
    position: absolute;
    float: left;

    line-height: 13.5vh;
    left: 1.5vh;
    color: rgb(184, 184, 184);
    font-size: 1.3vh;
}


.template-notify {
    display: none;
}

.transReset {
    transition: intial;
}