@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
    font-family: 'Lato', sans-serif;
    cursor: default;
}

.mercy-inventory-player {
    position: absolute;

    height: 60vh;
    width: 50vh;

    top: 45%;
    left: 31.75%;
    transform: translate(-50%, -50%);
    z-index: 500;
}

.mercy-other-inventory {
    position: absolute;
    
    height: 60vh;
    width: 50vh;

    top: 45%;
    left: 68%;
    transform: translate(-50%, -50%);
    z-index: 500;
}

.mercy-other-inventory-title {
    position: absolute;
    width: 100%;
    height: 7vh;
    background-color: rgba(0, 0, 0, 0.651);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    border-radius: .75vh;
}

.mercy-inventory-player-title {
    position: absolute;
    width: 100%;
    height: 7vh;
    background-color: rgba(0, 0, 0, 0.651);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    border-radius: .75vh;
}

.my-inventory {
    position: absolute;

    height: 100%;
    width: 100%;

    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.other-inventory {
    position: absolute;

    height: 100%;
    width: 100%;

    left: 0;
    top: 0;
}

#mercy-inventory-player-label {
    position: absolute;

    font-weight: 700 !important;
    font-weight: normal;
    font-size: 1.8vh;
    color: white;

    top: 52%;
    transform: translateY(-50%);
    left: 4vh;
}

#mercy-inventory-player-money {
    position: relative;

    margin: .6vh;
    padding: .2vh;
    padding-left: .5vh;
    padding-right: .5vh;
    text-align: center;
    border-radius: .5vh;
    color: white;
    font-size: 1.3vh;
    background-color: rgb(56, 149, 44);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
    bottom: 0.08vh;    
}

.wrapper {
    display: none;
    position: absolute;

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    top: 0;
    left: 0;
}

.wrapper > .logs {
    position: absolute;
    left: 56.8%;
    bottom: 0%;

    color: #fafafa;
    text-decoration: none;
    text-shadow: -.1vh -.1vh 0 #000, .1vh -.1vh 0 #000, -.1vh .1vh 0 #000, .1vh .1vh 0 #000;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3vh;
    font-weight: 0;

    height: 12%;
    max-height: 20%;
    width: 30%;

    overflow: hidden;
    
    transition: all 0.2s ease;
    
}

.block-info {
    display: none;
    height: 5vh;
}

.block-inv-option-info {
    position: absolute;
    top: 8vh;
    left: 4vh;
}

.block-inv-option-info i {
    font-size: 2.5vh;
    color: white;
    transition: all 0.1s ease-in-out;
}

.block-inv-option-close {
    position: absolute;
    top: 8vh;
    right: 4vh;
}

.block-inv-option-close i {
    font-size: 2.5vh;
    color: white;
    transition: all 0.1s ease-in-out;
}

.block-inv-option-info:hover i, .block-inv-option-close:hover i {
    color: #292929be;
}

.block-name-inv {
    position: absolute;
    top: 4vh;
    left: 3vh;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 2.5vh;
    margin: 1vh;
    color: white;
}

.inventory-options {
    position: absolute;
    top: 30vh;
    left: 44.5vw;
    width: 20vh;
    height: 30vh;
    background-color: #191e25b2;
    border-radius: 5px;
}

.inventory-option-use {
    position: absolute;
    left: 5vh;
    top: 7vh;
    width: 10vh;
    height: 10vh;
    opacity: 0.5;
    transition: all 0.5s ease;
}


.inventory-option-close {
    position: absolute;
    width: 17vh;
    height: 3.5vh;
    left: 1.5vh;
    top: 20vh;
    background-color: #30475e;
    border-radius: 0.3vh;
    text-align: center;
    line-height: 3.5vh;
    color: white;
    font-size: 1.75vh;
    font-weight: 600;
    transition: all 0.5s ease;
}

.inventory-option-steal {
    display: none;
    position: absolute;
    width: 5vh;
    height: 5vh;
    
    border-radius: .5vh;

    top: 50%;
    transform: translateY(-50%);

    color: white;

    right: 7vh;
    line-height: 5vh;

    border: none;
    outline: none;

    background-color: rgba(0, 0, 0, 0.5);

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;

    text-align: center;
}

.mercy-inventory-player-title-buttons {
    float: right;
    position: relative;

    height: 100%;
    width: fit-content;
    z-index: 100;
}

.inventory-option-amount {
    position: absolute;
    width: 5vh;
    height: 5vh;
    
    border-radius: .5vh;

    top: 50%;
    transform: translateY(-50%);

    color: white;

    right: 1vh;

    border: none;
    outline: none;

    background-color: rgba(0, 0, 0, 0.5);

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;

    text-align: center;
}


.inventory-option-close:hover, .inventory-option-steal:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.inventory-info-container {
    display: none;
    position: absolute;

    top: 22vh;
    right: 14vw;

    width: 60.9vh;
    height: fit-content;

    color: rgb(220, 220, 220);
    font-size: 1.3vh;
    padding: 1.2vh;
    border-radius: .4vh;

    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0vh 0vh .6vh rgb(5, 5, 5);
}

.inventory-info-container tag {
    
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .3vh;
    padding: .3vh;
    height: fit-content;
    width: fit-content;
}

.inventory-info-container li {
    margin-top: 1vh;
}

.inventory-option-use:hover {
    opacity: 0.8;
}

.inventory-item-info {
    display: none;
    position: absolute;
    height: fit-content;
    width: 23.5vh;
    padding-bottom: 2vh;
    border-radius: .6vh;
    background-color: rgba(0, 0, 0, 0.651);
    z-index: 600;
}

.info-name {
    position: relative;
    left: 2.5vh;
    line-height: 3.7vh;
    font-size: 1.8vh;
    font-weight: 600;
    width: 17vh;
    color: white;
}

.info-desc {
    position: relative;
    font-size: 1.1vh;
    font-weight: 500;
    width: 19vh;
    top: -0.8vh;
    left: 2.5vh;
    color: white;
}

.info-sub {
    position: relative;
    font-size: 1.1vh;
    font-weight: 500;
    width: 19vh;
    top: 0.2vh;
    left: 2.5vh;
    color: white;
}

.info-stroke {
    position: relative;
    top: -0.2vh;
    width: 17vh;
    left: 2.5vh;
    border-bottom: .1vh solid white;
}

.my-inventory-weight-container {
    position: absolute;
    top: 0.61vh;
    left: -0.75vh;
}

.other-inventory-weight-container {
    position: absolute;
    top: 0.61vh;
    right: 5vh;
}

.my-inventory-weight, .other-inventory-weight {
    position: absolute;
    left: 2.5vh;
    height: 5vh;
    width: .8vh;
    top: 3vh;
    transform: translateY(-50%) rotate(180deg);
    
    background-color: rgba(238, 238, 238, 0.75);
    border: .1vh solid rgba(141, 141, 141, 0.75);

    border-radius: .2vh;
    overflow: hidden;
}

.inventory-weight-fill {
    height: 0%;
    width: 100%;
    max-height: 100%;
    background-color: rgb(53, 158, 45);
    transition: height 1s, background-color 1s;
}

.my-inventory-weight-img, .other-inventory-weight-img {
    position: absolute;
    top: -1vh;
    width: 2vh;
    height: 2vh;
}

.my-inventory-max-weight, .other-inventory-max-weight {
    position: absolute;
    top: -0.55vh;
    left: 61.5vh;
    color: white;
    font-size: 1.1vh;
}

.inventory-weight-amount {
    margin-right: 0.5vh;
    line-height: 2.1vh;
    color: white;
    font-size: 1.2vh;
    text-align: right;
}

.other-inventory-name {
    position: absolute;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700 !important;
    font-weight: normal;
    font-size: 1.8vh;
    color: white;

    top: 52%;
    transform: translateY(-50%);
    right: 4vh;
}

.my-inventory-blocks, .other-inventory-blocks {
    position: absolute;

    top: 8vh;
    left: 52.5%;
    transform: translateX(-50%);

    width: 51vh;
    height: 52vh;

    overflow-x: hidden;
    overflow-y: scroll;

    border: none;
    outline: none;
    
    z-index: 100;
}

.inventory-block, .inventory-hotbar-block {
    float: left;
    position: relative;

    width: 10.6vh;
    height: 12vh;

    background-color: rgba(0, 0, 0, 0.329);
    margin-bottom: 1vh;
    margin-right: 2vh;
    opacity: 1.0;
    border-radius: 1vh;
}

.inventory-block:hover, .inventory-block-crafting:hover {
    opacity: 0.7;
}

.inventory-block-number {
    position: absolute;
    top: 0;
    left: 0;

    margin: .6vh;

    color: rgb(17, 17, 17);
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700 !important;
    font-size: 1.1vh;
    background-color: rgb(255, 255, 255);

    padding: .2vh;
    padding-left: .5vh;
    padding-right: .5vh;

    text-align: center;

    border-radius: .5vh;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}

.inventory-block-img {
    position: absolute;

    width: 75%;
    height: 70%;

    margin: 0 auto;
    left: 0;
    right: 0;

    top: 53%;
    transform: translateY(-50%);

    z-index: 999;
}

.inventory-block-amount {
    position: absolute;
    top: 0;
    right: 0;

    margin: .6vh;

    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700 !important;
    font-size: 1.1vh;
    background-color: rgb(56, 149, 44);

    padding: .2vh;
    padding-left: .5vh;
    padding-right: .5vh;

    text-align: center;

    border-radius: .5vh;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);

    z-index: 1000;
}

.inventory-block-name {
    position: absolute;

    bottom: 0;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;

    color: rgb(17, 17, 17);
    font-size: 1vh;

    text-align: center;
    padding: .25vh;
    padding-left: .5vh;
    padding-right: .5vh;
    border-radius: .5vh;

    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin: .75vh;

    background-color: rgba(255, 255, 255, 0.8);

    text-transform: capitalize;

    z-index: 1000;
}

.inventory-block-price {
    position: absolute;

    top: 0;
    left: 0;
    
    font-size: 1.1vh;
    color: rgba(255, 255, 255, 1.0);
    background-color: rgb(56, 149, 44);

    margin: .6vh;
    padding: .2vh;
    padding-left: .5vh;
    padding-right: .5vh;

    letter-spacing: 0.5px;
    font-weight: 700!important;
    text-align: center;
    border-radius: .5vh;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Crafting */

.crafting-inventory-blocks { 
    position: relative;
    float: left;

    width: 49%;

    min-height: 12.5vh;
    height: fit-content;

    background-color: rgba(0, 0, 0, 0.6);

    margin: 0.125vh;
    border-radius: .3vh;
    z-index: -2;
}

.inventory-block-crafting {
    float: left;
    position: relative;

    margin: 0.5em;

    width: 10.6vh;
    height: 12vh;

    background-color: rgba(0, 0, 0, 0.329);
    opacity: 1.0;
    border-radius: 1vh;
}

.crafting-needed-text {
    position: absolute;
    top: 1.2vh;
    left: 16vh;
}

.crafting-text {
    position: relative;
    color: white;
    font-size: 1.2vh;
    font-weight: 500;
    margin-bottom: 1.5vh;
}

.crafting-img {
    position: absolute;

    top: -0.5vh;
    left: -4vh;

    width: 3vh;
    height: 3vh;
}

/* Other */

.inventory-quality {
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: 1vh;

    transform: rotate(180deg);
}

.zoomIn {
    -webkit-animation: zoomIn .5s; 
    -moz-animation:    zoomIn .5s; 
    -o-animation:      zoomIn .5s; 
    animation:         zoomIn .5s; 
}

.zoomOut {
    -webkit-animation: zoomOut .3s; 
    -moz-animation:    zoomOut .3s; 
    -o-animation:      zoomOut .3s; 
    animation:         zoomOut .3s; 
}

.fadeInDown {
    -webkit-animation: fadeInDown .3s; 
    -moz-animation:    fadeInDown .3s; 
    -o-animation:      fadeInDown .3s; 
    animation:         fadeInDown .3s; 
}

.pulse {
    -webkit-animation: pulse .3s; 
    -moz-animation:    pulse .3s; 
    -o-animation:      pulse .3s; 
    animation:         pulse .3s; 
}
.inventory-quality-fill {
    width: 100%;
    height: 0%;
    max-height: 100%;
    bottom: 0;
    background-color: transparent;
    border-radius: 1vh;
    opacity: 0.2;
}

.quality-good {
    background-color: #22dd60;
}

.quality-okay {
    opacity: 0.4;
    background-color: #bd5525;
}

.quality-bad {
    opacity: 0.4;
    background-color: #a72b2b;
}

.quality-broken {
    opacity: 0.4;
    background-color: #500000;
}

.item-box-container {
    position: absolute;

    bottom: 20vh;
    left: 47%;
}

.item-needed-container {
    position: absolute;

    bottom: 17vh;
    left: 36.5%;

    background-color: green;
}

.item-hotbar-container {
    display: none;
    position: absolute;

    bottom: 10vh;
    left: 36.5%;
}

/* Ontvangen enz  */

.item-box-block {
    float: left;
    position: relative;

    width: 10.6vh;
    height: 12vh;

    background-color: rgba(0, 0, 0, 0.329);
    margin-bottom: 1vh;
    margin-right: 2vh;

    opacity: 1.0;
    border-radius: 1vh;
}

.item-box-name {
    position: absolute;

    bottom: 0;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;

    color: rgb(17, 17, 17);
    font-size: 1vh;

    text-align: center;
    padding: .25vh;
    padding-left: .5vh;
    padding-right: .5vh;
    border-radius: .5vh;

    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin: .75vh;

    background-color: rgba(255, 255, 255, 0.8);

    text-transform: capitalize;

    z-index: 1000;
}

.item-box-img {
    position: absolute;

    width: 75%;
    height: 70%;

    margin: 0 auto;
    left: 0;
    right: 0;

    top: 64%;
    transform: translateY(-50%);

    z-index: 999;
}

.item-box-display {
    position: absolute;

    top: 0;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;

    color: rgb(17, 17, 17);
    font-size: 1vh;

    text-align: center;
    padding: .25vh;
    padding-left: .5vh;
    padding-right: .5vh;
    border-radius: .5vh;

    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin: .75vh;

    background-color: rgba(255, 255, 255, 0.8);

    text-transform: capitalize;

    z-index: 1000;
}

.inventory-item-move {
    display: none;
    /* display: flex; */
    position: relative;

    pointer-events: none;

    width: 10.6vh;
    height: 12vh;

    background-color: rgba(0, 0, 0, 0.329);

    opacity: 0.7;
    border-radius: 1vh;
    z-index: 105;

}

.inventory-item-move-name {
    position: absolute;

    bottom: 0;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;

    color: rgb(17, 17, 17);
    font-size: 1vh;

    text-align: center;
    padding: .25vh;
    padding-left: .5vh;
    padding-right: .5vh;
    border-radius: .7vh;

    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin: .75vh;

    background-color: rgba(255, 255, 255, 0.8);

    text-transform: capitalize;

    z-index: 1000;
}

.inventory-move-price {
    position: absolute;

    top: 0;
    left: 0;
    
    font-size: 1.1vh;
    color: rgba(255, 255, 255, 1.0);
    background-color: rgb(56, 149, 44);

    margin: .6vh;
    padding: .2vh;
    padding-left: .5vh;
    padding-right: .5vh;

    letter-spacing: 0.5px;
    font-weight: 700!important;
    text-align: center;
    border-radius: .5vh;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.inventory-item-move-amount {
    position: absolute;
    top: 0;
    right: 0;

    margin: .6vh;

    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700 !important;
    font-size: 1.1vh;
    background-color: rgb(56, 149, 44);

    padding: .2vh;
    padding-left: .5vh;
    padding-right: .5vh;

    text-align: center;

    border-radius: .5vh;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);

    z-index: 1000;
}

.inventory-item-move-quality {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
 
.inventory-item-move-img {
    position: absolute;

    width: 75%;
    height: 70%;

    margin: 0 auto;
    left: 0;
    right: 0;

    top: 53%;
    transform: translateY(-50%);

    z-index: 999;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar{
    width: 5px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: .3vh;
    background-color: rgba(0, 0, 0, 0.4);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    background: none;
}

.mercy-inventory-split {
    display: none;
    position: absolute;

    height: 65vh;
    width: .5vh;
    background-color: rgba(0, 0, 0, 0.5);

    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);  

    /* left: 65.5vh; */
}

.mercy-inventory-split-left {
    position: absolute;
    top: 0;
    right: .5vh;
    color: white;
    
    text-align: center;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;

    background-color: rgba(0, 0, 0, 0.5);

    border-radius: .5vh 0 0 .5vh;

    font-size: 1.1vh;

    width: 2.5vh;
    height: 2.5vh;

    line-height: 2.5vh;
}

.mercy-inventory-split-right {
    position: absolute;
    top: 0;
    left: .5vh;
    color: white;
    
    text-align: center;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;

    background-color: rgba(0, 0, 0, 0.5);

    border-radius: 0 .5vh 0.5vh 0;

    font-size: 1.1vh;

    width: 2.5vh;
    height: 2.5vh;

    line-height: 2.5vh;
}