@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
.color-0{color: #ffffff;}
.color-1{color: #ff4444;}
.color-2{color: #99cc00;}
.color-3{color: #ffbb33;}
.color-4{color: #0099cc;}
.color-5{color: #33b5e5;}
.color-6{color: #aa66cc;}
.color-8{color: #cc0000;}
.color-9{color: #cc0068;}
    src: url("../BarlowCondensed.ttf");

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.no-grow {
  flex-grow: 0;
}

em {
  font-style: normal;
}

#app {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: transparent;
}

.chat-window {
  position: absolute;
  top: 5px;
  left: 15px;
  width: 35%;
  height: 0px;
  -webkit-animation-duration: 2s;
}

.chat-messages {
  max-height: 100%;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}


.chat-input {
  font-size: 0.9rem;
  position: absolute;
  top: 22.7vh;
  left: 16.5px;
  width: 29.7vw;
  box-sizing: border-box;
}

textarea {
  font-family: 'Lato', sans-serif !important;
  font-size: 1.1rem;
  display: block;
  box-sizing: border-box;
  padding: 4.5px;
  padding-left: 27px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  min-height: 3vh;
  max-height: 3vh;
  border: none;
  border-bottom:  solid #c7c7c7;
  border-radius: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
}

textarea:focus, input:focus {
    outline: none;
}

.msg {
  margin-bottom: 5px;
}

.suggestions {
  list-style-type: none;
  padding-bottom: 5px;
  padding-left: 12px;
  font-size: 1.1rem;
  box-sizing: border-box;
  color: white;
  background-color: rgba(44, 62, 80, 0.5);
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 80%;
}

.prefix {
  position: absolute;
  margin-top: 5.5px;
  left: 8px;
}

.help {
  margin-bottom: -10px;
  color: #b0bbbd;
}

.disabled {
  margin-top: -10px;
  color: #b0bbbd;
}

.suggestion {
  margin-bottom: 15px;
}

.chat-message {
  display: inline-block !important;
  padding: 0.65vw;
  margin: 0.1vw;
  border-radius: 1px;
  font-size: 1.5vh;
  background-color: rgba(0, 0, 0, 0.76);
  width: fit-content;
  max-width: 100%;
  overflow: hidden;
  float: left;
  word-break: break-word;
  animation: bounceInLeft .5s;
}

.chat-message-body {
  /* margin-top: 30px; */
}

.chat-message.advert {
  background-color: rgba(47, 92, 115, 0.85);
}

.warning {
  border-left: .5vh solid rgba(255, 136, 0, 0.85);

}

.normal {
  border-left: .5vh solid rgba(47, 114, 181, 0.85);

}

.error {
  border-left: .5vh solid rgba(191, 36, 36, 0.85);
}

.chat-message.system {
  border-left: .5vh solid rgba(190, 97, 18, 0.85);

}

.chat-message.emergency {
  border-left: .5vh solid rgba(163, 62, 48, 0.85);
}

.chat-message.nonemergency {
  border-left: .5vh solid  rgba(112, 25, 25, 0.85);
}

.chat-message.report {
  border-left: .5vh solid  rgba(86, 173, 10, 0.85);
}