@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

:root {
    --main-notify-size: 3.5vh;
}

body {
    margin: 0;
    padding: 0;

    overflow: hidden;
}

.no-selection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}



.notify-container {
    position: absolute;

    top: 0;
    right: 0;

    width: auto;
    height: auto;

    top: 10vh;

    margin-right: 2vh;
}

.notify {
    position: relative;

    height: 2.5vh;
    width: fit-content;

    margin: .3vh;

    padding: .5vh;

    overflow: hidden;
    box-shadow: inset 0px 0px 14px -2px rgba(0, 0, 0, 0.1);
}

.notify-icon {
    float: left;
    line-height: 2.8vh;

    padding-left:   0.5vh;
    padding-right:  0.75vh;
}

.notify-text {
    position: relative;
    float: left;
    color: white;
    text-shadow: .1vh .1vh 0 rgba(0, 0, 0, 0.3);

    line-height: 2.5vh;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;

    padding-right:  0.75vh;
}

#success-notify {
    background-color: #a1d6a3;
    border-left: 0.4vh solid #0a990f;
}

#success-notify > .notify-icon {
    color: #2fa833;
    font-size: 1.7vh;
}

#error-notify {
    background-color: #E57373;
    border-left: 0.4vh solid #B71C1C;
}

#error-notify > .notify-icon {
    color: #B71C1C;
    font-size: 1.7vh;
}

#info-notify {
    background-color: #757575;
    border-left: 0.4vh solid #424242;
}

#info-notify > .notify-icon {
    color: #ffffff;
    font-size: 1.7vh;
}

.template-notify {
    display: none;
}

.transReset {
    transition: intial;
}
/* 
.spawner-container {
    display: none;

    position: absolute;
    height: 100vh;
    width: 100vw;

    top: 0;
    left: 0;
}

.satelittemap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    object-fit: cover;

    z-index: -1;
}

.spawner-temp {
    position: absolute;

    width: 20px;
    height: 20px;
    margin-left: -3.2vh;
    margin-top:  -2.7vh;

    left: 50%;
    top: 50%;
    transform: rotate(-45deg);

    background: #202020;

    border-radius: 50% 50% 50% 0;

    transition: background 0.05s ease;
}

.spawner-temp:after {
    position: absolute;
    background: #ffffff;
    
    content: "";
    
    width: 10px;
    height: 10px;
    margin: 5px 0 0 5px;

    border-radius: 50%;
}

#temp-1 {
    left: 98.3vw;
    top: 66vh;
}

.spawner-temp:hover {
    background: #363636;
}

.spawner-popup {
    position: absolute;

    display: none;

    width: auto;
    height: 1vh;

    padding: 1vh;

    color: white;
    font-size: 1.3vh;

    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 1vh;

    line-height: 1vh;
    text-align: center;

    font-family: 'Source Sans Pro', sans-serif;
}

.spawner-topbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;

    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#spawner-topbar-title {
    color: white;

    line-height: 5vh;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700 !important;

    font-weight: bolder;
    letter-spacing: .05vh;
    text-transform: uppercase;
    font-size: 1.8vh;
}

.spawner-hint {
    position: absolute;
    
    bottom: 0;
    left: 0;

    width: 30vh;
    height: 10vh;

    background-color: rgba(0, 0, 0, 0.75);

    border-radius: 1.3vh 0 1.3vh 0;

    box-shadow: 0 0 .5vh .2vh rgba(0, 0, 0, 0.1);
    
    margin: 3vh;
}

#spawner-hint-title {
    position: absolute;
    margin: 1.5vh;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700 !important;

    color: white;
    font-size: 1.5vh;
}

#spawner-hint-text {
    position: absolute;

    margin: 1.5vh;
    margin-top: 4.2vh;

    font-family: 'Source Sans Pro', sans-serif;

    color: rgb(182, 182, 182);
    font-size: 1.3vh;
}

.spawner-bottombar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: .2vh;

    background-color: rgb(255, 255, 255);
}

.spawner-bottombar-fill {
    position: absolute;
    width: 10vh;
    height: 100%;

    left: -5vh;
    
    background: linear-gradient(to top right, rgba(25, 42, 86, 1.0), rgba(39, 60, 117, 1.0));

    animation: AnimateMove 10s infinite;
    animation-timing-function: linear;
}

@keyframes AnimateMove {
    0% {
        left: -5vh;
    }
    50% {
        left: 100%;
    }
    100% {
        left: -5vh;
    }
}

@keyframes RescaleElement {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.0) skew(-10deg, 0deg);
    }
}

#temp-1 {
    top: 57.9vh;
    left: 149.vh;
}

.multicharacter-container {
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

}

.multicharacter-slots {
    position: absolute;
    margin: 0 auto;

    left: 0vh;
    right: 0;

    width: 130vh;
    height: 35vh;

    top: 55%;
    transform: translateY(-50%);
}

.multicharacter-slot {
    position: relative;

    width: 18%;
    height: 80%;

    margin-left: 2%;

    float: left;
}

.multicharacter-topbar {
    position: absolute;

    width: 100%;
    height: 6.5vh;

    margin: 0 auto;
    left: 0;
    right: 0;

    top: 0;

    background-color: rgba(0, 0, 0, 0.45);
}

.multicharacter-topbar-loading {
    position: absolute;

    width: 100%;
    height: .4vh;
    top: 6.5vh;

    background-color: rgba(0, 0, 0, 0.75);
}

.multicharacter-topbar-loading-fill {
    position: absolute;
    left: -15%;
    width: 10%;
    height: 100%;
    background-color: rgba(243, 232, 193, 0.8);

    animation: Tjakaboem 10s ease infinite;
}

@keyframes Tjakaboem {
    0% {
        left: -15%;
    }
    50% {
        left: 110%;
    }
    100% {
        left: -15%;
    }
}

.multicharacter-topbar-buttons {
    position: absolute;
    
    width: fit-content;
    height: 100%;

    top: 0;
    left: 1vh;
}

.multicharacter-topbar-icon-container {
    position: absolute;

    top: 0;

    width: fit-content;
    height: fit-content;

    top: 50%;
    transform: translateY(-50%);

    margin: 0 auto;
    left: 0;
    right: 0;

}

.multicharacter-topbar-icon-container > img {
    width: 7vh;
}

.multicharacter-topbar-slot-name {
    position: absolute;

    margin: 0;
    left: 0;
    right: 0;

    text-align: center;
    line-height: 6.5vh;

    color: white;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700 !important;
    font-size: 2.5vh;
    text-transform: uppercase;
}

.multicharacter-topbar-button-icon {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;

    width: fit-content;
    height: fit-content;
}

.multicharacter-topbar-button-icon > img {
    height: 6.2vh;
}


.multicharacter-topbar-button {
    position: relative;

    height: 100%;
    width: fit-content;

    min-width: 8vh;

    padding-left: 1vh;
    padding-right: 1vh;

    background-color: rgba(0, 0, 0, 0.4);
    
    text-align: center;
    line-height: 6.5vh;
    color: white;

    float: left;
    margin-right: .5vh;

    font-size: 1.8vh;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700 !important;
    font-weight: bolder;

    transition: .05s ease;
}

.multicharacter-top-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2vh;
    color: white;
    font-size: 2.5vh;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700 !important;
    font-weight: bolder;
}

.multicharacter-top-quit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    right: 0;
    line-height: 6.5vh;
    padding-left: 2vh;
    padding-right: 2vh;

    font-size: 2vh;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700 !important;
    font-weight: bolder;

    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: auto;

    transition: .1s ease;
}

.multicharacter-top-quit:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.multicharacter-topbar-button:hover {
    opacity: 0.5;
}

.multicharacter-topbar-button:nth-child(3) {
    border-right: .2vh solid #fff;
}

.multicharacter-topbar-button-selected {
    background-color: transparent;
}

.multicharacter-chars {
    display: block;
    
    height: 100%;
}

.multicharacter-settings {
    display: none;

    width: 100%;
    height: 100%;

    pointer-events: none;

    z-index: -1;
}

.multicharacter-settings-container {
    position: absolute;

    width: 54.5vh;
    height: 24vh;

    background-color: rgba(0, 0, 0, 0.5);

    margin: 0 auto;
    left: 0;
    right: 0;

    top: 50%;
    transform: translateY(-50%);
}

.multicharacter-settings-container-title {
    position: absolute;

    margin: 2vh;

    color: white;
    font-size: 2vh;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700 !important;
}

.multicharacter-settings-token {
    position: absolute;

    width: 50vh;
    height: 11vh;

    background-color: rgba(0, 0, 0, 0.315);

    margin: 2vh;

    top: 8vh;
}

.multicharacter-setting-title {
    position: absolute;
    top: -2.5vh;
    left: 0;

    color: white;
    font-size: 1.5vh;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700 !important;
}

.multicharacter-settings-token-input {
    width: 47.6vh;
    height: 4vh;

    margin: 1vh;
    background-color: rgba(0, 0, 0, 0.479);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vh;
    color: white;

    text-indent: 1vh;

    border: none;
    outline: none;

    pointer-events: visible !important;
}

.multicharacter-settings-token-copy {
    position: absolute;

    width:  fit-content;
    height: 4vh;

    background-color: #f0942b;
}

.multicharacter-settings-token-copy:hover {
    background-color: #d38124;
}

.multicharacter-settings-token-generate {
    position: absolute;

    width:  fit-content;
    height: 4vh;

    background-color: #6ab04c;
}

.multicharacter-settings-token-generate:hover {
    background-color: #458b27;
}

.mcstb {
    position: relative;
    float: left;

    margin-left: 1vh;

    text-align: center;
    line-height: 4vh;

    padding-left: 1vh;
    padding-right: 1vh;

    font-family: 'Roboto', sans-serif;
    font-size: 1.5vh;
    color: white;
    
    bottom: 0;
    left: 0;

    pointer-events: visible !important;
}

#multichar-top-quit {
    position: absolute;

    border-left: .2vh solid #fff;
    margin-right: 0 !important;

    right: 0 !important;
}

.multicharacter-topbar-icon {
    position: absolute;
    left: -11vh;

    width: 11vh;
    height: 12vh;

    background-color: rgba(0, 0, 0, 0.6);
}

.multicharacter-hint {
    position: absolute;
    
    bottom: 0;
    left: 0;

    width: 30vh;
    height: 10vh;

    background-color: rgba(0, 0, 0, 0.75);

    border-radius: 1.3vh 0 1.3vh 0;

    box-shadow: 0 0 .5vh .2vh rgba(0, 0, 0, 0.1);
    
    margin: 3vh;
}

#multicharacter-hint-title {
    position: absolute;
    margin: 1.5vh;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700 !important;

    color: white;
    font-size: 1.5vh;
}

#multicharacter-hint-text {
    position: absolute;

    margin: 1.5vh;
    margin-top: 4.2vh;

    font-family: 'Source Sans Pro', sans-serif;

    color: rgb(182, 182, 182);
    font-size: 1.3vh;
}

.multicharacter-bottombar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: .2vh;

    background-color: rgb(255, 255, 255);
}

.multicharacter-bottombar-fill {
    position: absolute;
    width: 10vh;
    height: 100%;

    left: -5vh;
    
    background-color: rgba(6, 79, 163, 0.5);

    animation: AnimateMove 10s infinite;
    animation-timing-function: linear;
}

.multicharacter-playerinfo {
    display: none;
    position: absolute;

    width: 40vh;
    height: 18vh;

    margin: 0 auto;
    left: 0;
    right: 0;

    top: 20vh;

    background-color: rgba(0, 0, 0, 0.6);

    text-align: center;
}

.multicharacter-playerinfo-title {
    color: white;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700 !important;
    text-transform: uppercase;
    font-size: 1.5vh;

    background-color: rgba(0, 0, 0, 0.8);

    height: 3vh;
    line-height: 3vh;
}

.multicharacter-playerinfo-buttons {
    position: absolute;
    bottom: 0;
    left: 0;

    margin: 1vh;

    width: fit-content;
    height: fit-content;
}

.multicharacter-playerinfo-button {
    position: relative;

    float: left;

    min-width: 6vh;

    width: fit-content;
    height: 1.5vh;

    margin-right: 1vh;
    border-radius: .75vh;

    font-size: 1.2vh;
    color: white;

    line-height: 1.5vh;

    padding: .3vh;

    opacity: 1.0;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700 !important;

    border-radius: .5vh;

    text-align: center;

    transition: .05s ease;
}

.player-info {
    display: none;
    position: absolute;

    width: 100%;
    height: 17vh;

    bottom: 33vh;

    text-align: center;

    border-radius: .5vh;

    background-color: rgba(0, 0, 0, 0.8);
}

.player-info-slot-name {
    position: absolute;

    margin: 0 auto;
    left: 0;
    right: 0;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700 !important;
    text-transform: uppercase;

    line-height: 5vh;

    color: white;
}

#player-info-id-1 {
    left: -6.5vh;
}

#player-info-id-2 {
    left: -2.5vh;
}

#player-info-id-3 {
    left: -2.5vh;
}

#player-info-id-4 {
    left: -2.5vh;
}

#player-info-id-5 {
    left: 6.5vh;
}

.player-info-slot-info {
    position: relative;

    top: 5vh;

    width: 100%;
    height: 3vh;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400 !important;

    background-color: rgba(8, 8, 8, 0.924);

    margin-bottom: .5vh;

    border-bottom: .1vh solid #fff;
}

#slot-info-label {
    float: left;
    color: white;

    line-height: 3vh;

    margin-left: 1vh;
}

#slot-info-detail {
    float: right;
    color: white;

    line-height: 3vh;

    margin-right: 1vh;
}

.player-info-slot {
    display: none;
}

.multicharacter-buttons {
    display: none;
    position: absolute;

    margin: 0 auto;
    left: 0;
    right: 0;

    bottom: 5vh;

    width: 20vh;
    height: 12vh;

    border-radius: .5vh;

    background-color: rgba(0, 0, 0, 0.527);
}

.multicharacter-button {
    position: relative;

    width: 90%;
    height: 37%;

    margin: 5%;

    color: white;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700 !important;
    text-transform: uppercase;

    -webkit-box-shadow: inset 0px 0px 39px -7px rgba(0,0,0,0.42);
    -moz-box-shadow: inset 0px 0px 39px -7px rgba(0,0,0,0.42);
    box-shadow: inset 0px 0px 39px -7px rgba(0,0,0,0.42);

    text-align: center;

    border-radius: .5vh;

    transition: .05s ease;
}

.multicharacter-button:hover {
    color: rgb(219, 219, 219);
}

#play-character:hover {
    background-color: #5ba52b;
}

#delete-character:hover {
    background-color: #ac181d;
}

#play-character {
    background-color: #6fc833;
    line-height: 4.5vh;
}

#delete-character {
    background-color: #ea2027;
    line-height: 4.5vh;
};

.multicharacter-topbar-character-buttons {
    position: absolute;

    height: 6.2vh;
    width: fit-content;

    margin: 0 auto;
    left: 0;
    right: 0;

    top: 12vh;
}

.multicharacter-topbar-button > i {
    position: relative;
    left: -.3vh;
}

.confirm-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
}

.input-modal {
    position: absolute;

    width: 52vh;
    height: 50vh;

    margin: 0 auto;
    left: 0;
    right: 0;

    top: 25vh;
}

.input-confirmation {
    display: none;
    position: absolute;

    width: 52vh;
    height: 50vh;

    margin: 0 auto;
    left: 0;
    right: 0;

    top: 25vh;
}

.input-title-modal {
    position: absolute;

    width: 47vh;
    height: 8vh;

    margin: 1.5vh;

    border-left: .8vh solid rgb(243, 232, 193);

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700 !important;
}

.input-title {
    position: absolute;

    top: 0;
    left: 0;

    margin-left: 1vh;

    top: 70%;
    transform: translateY(-50%);

    font-size: 2vh;
    text-transform: uppercase;

    color: white;
}

.input-subtitle {
    position: absolute;

    top: 0;
    left: 0;

    margin-left: 1vh;

    top: 35%;
    transform: translateY(-50%);

    font-size: 1.6vh;
    text-transform: uppercase;

    color: white;
}

.model-input {
    position: absolute;

    top: 55%;
    transform: translateY(-50%);

    margin: 0 auto;
    left: 0;
    right: 0;

    width: 40vh;
    height: 40vh;
}

label {
    position: relative;
    
    color: white;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400 !important;

    font-size: 1.7vh;
}

.input-template {
    position: absolute;

    width: 30vh;
    height: 5vh;

    border: none;
    outline: none;

    font-size: 2vh;

    text-indent: 1vh;

    color: white;

    background-color: rgba(3, 3, 3, 0.2);
    border: .1vh solid rgba(228, 228, 228, 0);
    
    color: white;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400 !important;

    transition: border .2s ease;
}

.input-template-data {
    text-indent: 0vh;
    line-height: 5vh;
    text-align: center;
}

.input-template > span {
    text-indent: 0vh;
    line-height: 5vh;
}

.label-firstname {
    position: absolute;
    top: 2.5vh;
    left: 5vh;
}

.label-lastname {
    position: absolute;
    top: 11.5vh;
    left: 5vh;
}

.label-dob {
    position: absolute;
    top: 20.5vh;
    left: 5vh;
}

.input-template:focus {
    border: .1vh solid rgb(228, 228, 228);
    transition: border 1s ease;
}

#firstname {
    top: 5vh;

    margin: 0 auto;
    left: 0;
    right: 0;
}

#lastname {
    top: 14vh;

    margin: 0 auto;
    left: 0;
    right: 0;
}

#dob {
    top: 23vh;

    width: 30.25vh;

    text-align: center;

    text-indent: 0vh;

    margin: 0 auto;
    left: 0;
    right: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.modal-buttons {
    position: absolute;

    bottom: 0;

    width: 50vh;
    height: 9vh;

    margin: 0 auto;
    left: 0;
    right: 0;
}

.modal-button-icon {
    position: absolute;

    width: 5vh;
    height: 5vh;

    top: 50%;
    transform: translateY(-50%);
}

#accept-icon {
    right: 2vh;
}

#accept-icon > img {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    margin: 0 auto;
    left: 0;
    right: 0;

    width: 3vh;
}

#cancel-icon {
    left: 2vh;
}

.modal-text {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    color: white;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700 !important;
    font-size: 2vh;
}

.modal-text > span {
    font-size: 1.4vh;
    color: rgba(200, 200, 200, 0.904);
    text-transform: uppercase;
}

.accept-text {
    left: 5vh;
}

.cancel-text {
    right: 5vh;
}

#cancel-icon > img {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    margin: 0 auto;
    left: 0;
    right: 0;

    width: 3vh;
}

.modal-accept-button {
    position: absolute;
    height: 100%;
    width: 49%;

    left: 0;

    -webkit-backface-visibility: hidden;
    transform: skew(5deg);

    background: linear-gradient(to left, rgba(255, 255, 255, 0.5) 0%, rgba(229, 229, 229, 0.3) 25%, rgba(229, 229, 229, 0.2) 50%, rgba(229, 229, 229, 0.1) 75%, rgba(229, 229, 229, 0) 100% );

    -webkit-transition: all 750ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -moz-transition: all 750ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
      -o-transition: all 750ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
         transition: all 750ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
 
    -webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
       -moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
         -o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
            transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
}

.modal-accept-button:hover {
    transform: skew(0deg);
}

.modal-cancel-button:hover {
    transform: skew(0deg);
}

.modal-cancel-button {
    -webkit-transition: all 750ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -moz-transition: all 750ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
      -o-transition: all 750ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
         transition: all 750ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
 
    -webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
       -moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
         -o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
            transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 

    position: absolute;
    height: 100%;
    width: 49%;

    right: 0;

    -webkit-backface-visibility: hidden;
    transform: skew(5deg);

    background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(229, 229, 229, 0.3) 25%, rgba(229, 229, 229, 0.2) 50%, rgba(229, 229, 229, 0.1) 75%, rgba(229, 229, 229, 0) 100% );
} */