.mdw-evidence-data {
    position: absolute;
    top: 5vh;
    left: 0;
    right: 0;

    margin: 0 auto;

    height: max-content;
    width: calc(100% - 1vw);
}

.mdw-evidence-data > .ui-styles-input {
    margin-bottom: 0.7vh;
    width: 100% !important;
}

.mdw-evidence-data > .ui-styles-input > input {
    width: 94.5%;
}