/* Block Two */

.mdw-staff-block {
    position: absolute;

    top: 21%;
    left: 50%;

    height: 30vh;
    width: 97%;

    transform: translate(-50%, -50%);
}

.mdw-staff-block-photo {
    position: absolute;

    width: 10.5vw;
    height: 20vh;

    border: .2vh solid var(--dark);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../images/mdw/mugshot.png");
}

.mdw-staff-block-data {
    position: absolute;

    right: .5vw;
    top: .5vh;
}
.staff-callsign { position: absolute; right: 0; top: 21vh; }
.staff-department {position: absolute; top: 21vh; left: -11vw;}

#staff-notes-area {
    position: absolute;

    top: 69%;
    left: 49.3%;

    color: white;
    font-size: 1.3vh;
    
    width: 92.3%;
    height: 46.5vh;
    
    background-color: var(--dark);
    transform: translate(-50%, -50%);
}

#staff-notes-area:focus {
    outline: none;
    border: none;
    box-shadow: none;
}