:root {
    --background: #222831;
    --background2: #30475e;

    --backgroundGreen: #689f38;

    --colorGray: #c8c6ca;
    --colorGrayText: #fafafa;

    --colorYellow: #ffee58;
    
    --textGreen: #aed581;
    --textBlue: #4dd0e1;
    --textRed: #ff4081;
    --textOrange: #ffa726;
}