@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: pricedown;
    src: url(../fonts/pricedown.ttf);
}

@font-face {
    font-family: tvnord;
    src: url(../fonts/tvnord.ttf);
}

@font-face {
    font-family: gta;
    src: url(../fonts/gta.ttf);
}

@font-face {
    font-family: RDR-Lino;
    src: url(../fonts/LiberationSans-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}